/****************************/
/*          COLOR           */
/****************************/

/* NEUTRAL */

.color-inherit {
  color: inherit;
}

.neutral-on-background-weak {
  color: var(--neutral-on-background-weak);
}

.neutral-on-background-medium {
  color: var(--neutral-on-background-medium);
}

.neutral-on-background-strong {
  color: var(--neutral-on-background-strong);
}

.neutral-on-solid-weak {
  color: var(--neutral-on-solid-weak);
}

.neutral-on-solid-medium {
  color: var(--neutral-on-solid-medium);
}

.neutral-on-solid-strong {
  color: var(--neutral-on-solid-strong);
}

/* BRAND */

.brand-on-background-weak {
  color: var(--brand-on-background-weak);
}

.brand-on-background-medium {
  color: var(--brand-on-background-medium);
}

.brand-on-background-strong {
  color: var(--brand-on-background-strong);
}

.brand-on-solid-weak {
  color: var(--brand-on-solid-weak);
}

.brand-on-solid-medium {
  color: var(--brand-on-solid-medium);
}

.brand-on-solid-strong {
  color: var(--brand-on-solid-strong);
}

/* DANGER */
.danger-on-background-weak {
  color: var(--danger-on-background-weak);
}

.danger-on-background-medium {
  color: var(--danger-on-background-medium);
}

.danger-on-background-strong {
  color: var(--danger-on-background-strong);
}

.danger-on-solid-weak {
  color: var(--danger-on-solid-weak);
}

.danger-on-solid-medium {
  color: var(--danger-on-solid-medium);
}

.danger-on-solid-strong {
  color: var(--danger-on-solid-strong);
}
